body {
  background: #ece8e0;
}
h1 {
  position: relative;
  text-align: center;
  color: coral;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
/* above code are just for content displaying */

.frame{
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-btn{
  width: 170px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato',sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(255,255,255,0.5),
  4px 4px 5px 0px rgba(0,0,0,0.1);
  outline: none;
}
.btn{
  border: none;
}
.btn::after{
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index:-1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
   transition: all 0.3s ease;
}
.btn:hover{
  color: #000;
}
.btn:hover:after{
  width: 100%;
  left: auto;
  right: 0;
}













